body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.custom-form-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px 0;
  
}

.CustomForm {
  width: 100%;
  max-width: 500px;
  margin: 20px;
  background: #fff;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-custom {
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}


.btn-block {
  width: 100%;
}



.NOTE{
  color: red;
  margin-top: 20px;
}
