/* files name are same as getting an error to save it as customer and importing */
/*It's Custom instead of Checkout*/ 


* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding: 20px;
    margin: 0;
    background: url('../public/background.jpeg');
  }
  
  .checkout-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .section-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-input, .form-select, .custom-checkbox, .custom-control-label {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-input:focus, .form-select:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .feedback {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .image-preview {
    margin-top: 10px;
    text-align: center;
  }
  
  .preview-image {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .btn-submit {
    background-color: #007bff;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
  }
  
  .btn-submit:hover {
    background-color: #0056b3;
  }
  
  .image-container {
    position: relative;
    display: inline-block;
    margin: 10px;
  }
  
  .delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
  }